/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background-color: white;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;

}

section {
  padding: 46px 0;
}

/* Navigation */

.navigation {
  padding-top: 15px;
  background-image: url("https://i.postimg.cc/XNGQRwPx/blank-business-composition-computer-373076-2.jpg");
  min-height: 640px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.navigation::before {
  top: 0%;
  left: 0%;
  position: absolute;
  content: '\A';
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.navigation ul {
  list-style-type: none;
}

.navigation li {
  position: relative;
  display: inline-block;
  margin: 0 36px 0 0;
  left: 15%;
}

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.navigation .logo {
  left: -17%;
}

.navigation .logo a {
  text-transform: capitalize;
  font-family: 'Sacramento', cursive;
  color: #FFD700;
  font-size: 30px;
  cursor: default;
}

/* Splash */

.splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1000px;
  margin: 30px 0;
  cursor: default;
}

.splash-inner h2 {
  font-family: 'Gelasio', serif;
  font-weight: 200;
  font-style: oblique;
  font-size: 40px;
  margin: 0;
  margin: 50px 0 0 0;
  color: white;
}

.splash-inner h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 65px;
  margin: 0 0 30px 0;
  color: white;

}

.navigation .btn {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border: none;
  background-color: #FFD700;
  transition: 1s;
}

.navigation .btn:hover {
  background-color: inherit;
  color: #FFD700;
}

/* Our Services */

.section-title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 40px 0 0 0;
}

.section-subtitle {
  font-family: 'Gelasio', serif;
  font-weight: 200;
  font-style: oblique;
  font-size: 17px;
  color: grey;
  margin: 0 0 40px 0;
}

.services i {
   font-size: 35px;
   background: transparent;
   border: solid 3px #FFD700;
   width: 65px;
   height: 65px;
   line-height: 65px;
   border-radius: 50%;
   color: #FFD700;
}

.wrapper {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 100px;
}

.box {
    position: relative;
    flex: 0 0 33.3333%;
}

.services h1 {
  margin: 0;
}

.services p {
  font-family: 'Gelasio', serif;
  font-weight: 200;
  font-size: 14px;
  color: grey;
  margin: 0 8px;
  line-height: 1.2;
}

/* Our Portfolio */

.portfolio {
  background-color: #F1F1F1;
}

.element {
   flex: 0 0 31%;
   height: 350px;
   margin-bottom: 60px;
   background-color: white;
}

.element .image {
    float: left;
    width: 100%;
    height: 80%;
    position: relative;
}

.element .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .element h4 {
  margin: 20px 0 0 0;
}

.portfolio .element p {
  margin: 0;
  font-family: 'Gelasio', serif;
  font-weight: 200;
  font-style: oblique;
  font-size: 13px;
  color: grey;
}
